<!--This is the settings page of our game. All we need is some basic settings-->

{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Essential Ethics</title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/PlaceholderIcon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    </head>

    <body>
        <div class="center">
            <header>
                <ul>
                    <li><img src="{% static 'images/logoMobile.svg' %}" id="logo" width="400px"></li>
                </ul>
                <h2>Leaderboards</h2>
            </header>
            <main>
            </main>
        </div>
    </body>
</html>