<!--This is the settings page of our game. All we need is some basic settings-->

{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Essential Ethics</title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/PlaceholderIcon.ico' %}">
        <link href='{% static "/CSS/main.css" %}' rel='stylesheet' type='text/css'>
        <link href='{% static "/CSS/settings.css" %}' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class="center">
            <header>
                <ul>
                    <li><img src="{% static 'images/logoMobile.svg' %}" id="logo" width="400px"></li>
                </ul>
                <h2>Settings</h2>
            </header>
            <main>
                <button>Template Button</button>
                <button>Template Button</button>
                <button>Template Button</button>
                <button>Template Button</button>
                <button>Template Button</button>
                <button>Template Button</button>
                <button id="menu" onclick="location.href='/..'" type="button">Return to Main Menu</button>
                <button id="game" onclick="location.href='/mainpage'" type="button">Return to Game</button>
            </main>
        </div>
    </body>
</html>